body
{
	/*w:1400  h:1700*/
	width: 1200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/backgruound.jpg");
	background-size: 100% 100%;
}

div#view
{
	/*w:1022 h:1700*/
	width: 72%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1%;/*15px;*/
	padding-right: 1%;
}

div#head
{
	/*w:976 h:280*/
	width: 100%;
	height: 110px;
	margin-top: 20px;
	padding-top: 10px;
	border-color: blue;
	background-color: #FFF;
}

div#middle
{
	position:relative;
	width: 100%;
	height: 480px;
	background-color: rgba(34, 34, 45, 0.5);

}
div#footer
{
	width: 100%;
	height: 120px;
	/* border: solid 1px; */
	padding-top: 5px;
	background-color: #FFF;
	border-color: blue;
}
div#head-logo
{
	/*w:130 h:110*/
	width: 140px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -25px;
	/* border: solid 1px; */
	border-color: black;
}
div#head-logo>a
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	color: #010;
}
div#head-logo>a>img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 5px;
	width: 75%;
	height: 75%;
}

div#middle-chatlist
{
	position: absolute;
	width: 360px;
	height: 360px;
	margin-top: 80px;
	margin-left: 100px;
	/* border:solid 1px; */
	border-color: #FFF;
	/* background-color: rgba(0,0,0, 0.9); */
}

div#middle-network
{
	position: absolute;
	width: 360px;
	height: 360px;
	margin-top: 80px;
	margin-left: 500px;
	/* border:solid 1px; */
	border-color: #FFF;
	/* background-color: rgba(0,158,143, 0.8); */
}

div#middle-network>img
{
	padding-top: 30px;
	width: 350px;
	height: 285px;
} 

div#middle-skip
{
	position: absolute;
	width: 100%;
	height: 45px;
	margin-top: 20px;
    margin-left: auto;
	margin-right: auto;
	border:solid 1px;
	border-color: #FFF;
}
div#middle-skip-iframe
{
	margin-left: 335px;
	/* width: 200px;
	height: auto; */
	border-style: none;
}
iframe
{
	border-style: none;
}
div#middle-chatlist>img
{
	display: block;
}

div#footer-curtain
{
	height: 55%;
	background-color: #009DD9;
}
div#footer-curtain-copyright
{
	padding-top: 40px;
	color: white;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}
div#footer-contact>ol
{
	height: 50%;
	margin-bottom: -36px;
}
div#footer-contact>ol>li
{
	display: inline;
	margin-left: 45px;
}
div#footer-contact>ol>li>a>img
{
	width: 72px;
	height: 72px;
}