/*
		Copyright © BadTudou, 2016
		All rights reserved
	
		Name	:	signin-style.css
		By		:	BadTudu
		Date	:	2016年5月02日14:09:05
		Note	:	用户登录样式表
	*/
body
{
	/*w:370  h:390*/
	width: 200px;
	height: 300px; */
	border: solid 1px;
	border-color: #CCCCCC;
	background-color: #F7F7F7;
}

div#logo
{
	/*w:370 h:100*/
	height: 100px;
	margin-left: 90px;
	/* border: solid 1px; */
	border-color: black;
}


div#userForm
{
	/*w:280 h:200*/
	width: 280px;
	height: 280px;
	margin-left: auto;
	margin-right: auto;
	/* border: solid 1px; */
	border-color: blue;
}


div#logo>a>img
{
	/*w:*/
	display: block;
	width: 78px;
	height: 61px;
	margin-left: auto;
	margin-right: auto;
}
div#logo-text
{
	width: 100%;
	padding-top: 5px;
	color: #12A5D3;
	font-weight: bold;
	text-align: center;

}
div#userForm-inputform
{
	/*w:280 h:150*/
	height: 280px;
	border: solid 1px;
	border-color: #CCCCCC;
}

div#userForm-inputform-tip
{
	height: 30px;
	line-height: 30px;
	color: orange;
	text-align: center;
}

div#userForm-inputform>form>input
{
	width: 240px;
	height: 25px;
	margin-bottom: 10px;
	margin-left: 10px;

}

.inputCheckError
{
	color: red;
}

.inputCheckOk
{
	color: green;
}

div#userForm-inputform>form>input[type="submit"]
{
	width: 276px;
	height: 35px;
	color: white;
	margin-left: 0px;
	font-size: 120%;
	font-style: bold;
	background-color:  #12A5D3;
}
div#userForm-inputform>form>input[type="checkbox"]
{
	width: 15px;
	vertical-align: middle;
}
div#userForm-inputform>form>a
{
	float: right;
	color: #12A5D3;
	font-weight: bold;
	line-height: 35px;
	text-align: vertical;
}

